<nav class="navbar">
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li>
                <a href="/">ğ‘¯ğ‘¶ğ‘´ğ‘¬</a>
            </li>
            <li>
                <a href="/menu">ğ‘¶ğ‘¹ğ‘«ğ‘¬ğ‘¹ ğ‘¶ğ‘µğ‘³ğ‘°ğ‘µğ‘¬</a>
            </li>
            <li>
                
            </li>
        </ul>
        <ul>
            {{#if login}}
            <li><a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> {{user.firstname}}</a></li>
            <li><a href="/user/logout">Logout</a></li>
            {{else}}
            <li id="signin"><a href="/user/signin"><i class="fa fa-user" aria-hidden="true"></i>  ğ‘ºğ‘°ğ‘®ğ‘µ ğ‘°ğ‘µ</a></li>
            {{/if}}
        </ul>
    </div>
</nav>