<div class="page page-1">
    <div class="container">
        <h1>
           𝓛𝓐𝓚𝓔 𝓗𝓞𝓤𝓢𝓔 𝓑𝓐𝓚𝓔𝓡𝓨
        </h1>
        <p>
       𝘚𝘸𝘦𝘦𝘵 𝘢𝘯𝘥 𝘩𝘦𝘢𝘭𝘵𝘩𝘺
        </p>
        <div class="flex-btn">
           
            <a href="/menu"><button id="online-btn">𝑴𝑬𝑵𝑼</button></a>
        </div>
         </div>
</div>